body {
  background-color: #6c5b7b;
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 2em;
  margin-bottom: 1em;
}

input {
  padding: 0.5em;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

button {
  padding: 0.5em 1em;
  background-color: #8d6e63;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #654321;
}

h1 {
  font-size: 4em;
  margin-bottom: 2em;
}