/* body */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background: linear-gradient(to bottom, #d8c4b8, #ffefd5);
  height: 100vh;
  margin: 0;
}

/* header */
header {
  text-align: center;
  margin-top: 30px;
}

h1 {
  font-size: 3rem;
  color: #542a0a;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

/* fortune form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #542a0a;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #b36334;
}

/* footer */
footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

footer p {
  color: #542a0a;
  font-size: 1rem;
}
